@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    margin-top: 50px;
    background-color: burlywood;
}
.container{
    width: 40vw;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    background: linear-gradient(135deg, rgba(138, 14, 138, 0.904), rgba(223, 223, 33, 0.733));
    border-radius: 10px;
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
}
h1{
    margin-bottom: 20px;
    color: beige;
}
input{
    padding: 10px 25px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 80%;
}
button{
    padding: 10px 15px;
    background: transparent;
    border: none;
}
.input{
    background-color: rgba(245, 245, 245, 0.534);
}
.info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: blanchedalmond;
    align-items: center;
    gap: 10px;
}
.p-tags{
    display: flex;
    gap: 10px;
}